<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Car</title>

    <link rel="stylesheet" href="/add-edit.css" />
  </head>
  <body>
    <%- include('./partials/nav') %>
    <hr />

    <form action="/cars" method="POST">
      <label for="make">Make</label>
      <input
        id="make"
        name="make"
        type="text"
        placeholder="Toyota - Honda - BMW"
        required
      />

      <label for="model">Model</label>
      <input
        id="model"
        name="model"
        type="text"
        placeholder="Corolla - Accord - Yukon"
        required
      />

      <label for="year">Year</label>
      <input
        id="year"
        name="year"
        type="number"
        placeholder="2022 - 2010 - 2015"
        required
      />

      <button>Add</button>
    </form>
  </body>
</html>
