<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/add-edit.css" />
  </head>
  <body>
    <nav>
      <a href="/cars">Home</a>
    </nav>
    <hr />

    <form action="/cars" method="POST">
      <label for="">Make</label>
      <input name="make" type="text" placeholder="Toyota - Honda - BMW" />

      <label for="">Model</label>
      <input name="model" type="text" placeholder="Corolla - Accord - Yukon" />

      <label for="">Year</label>
      <input name="year" type="number" placeholder="2022 - 2010 - 2015" />

      <button type="submit" value="OK">Add</button>
    </form>
  </body>
</html>
