<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/cars">Home</a>
    </nav>
    <hr>
    
    <form action="/cars/<%=car.id%>?_method=DELETE" method="POST">
      <p>
        Make: <%= car.make %> - Model: <%= car.model %> - Year: <%= car.year %>
      </p>
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
