<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/add-edit.css" />
  </head>
  <body>
    <nav>
      <a href="/cars">Home</a>
    </nav>
    <hr />

    <form action="/cars/<%=car._id%>?_method=PUT" method="POST">
      <label for="">Make</label>
      <input name="make" type="text" value="<%= car.make%>" />

      <label for="">Model</label>
      <input name="model" type="text" value="<%= car.model%>" />

      <label for="">Year</label>
      <input name="year" type="number" value="<%= car.year%>" />

      <button type="submit">Edit</button>
    </form>
  </body>
</html>
